test-results
node_modules
playwright-report

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# IDE
.idea

# Env
.env*.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Other package managers
package-lock.json
yarn.lock
