{
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "importOrder": ["^@.*", "^\\$.*", "^[a-zA-Z].*", "^\\..*"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderSideEffects": false,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte" } },
    { "files": "package*.json", "options": { "tabWidth": 2, "useTabs": true } }
  ]
}
