.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Package Managers
pnpm-lock.yaml
package-lock.json
yarn.lock

# Generated or imported files
/components.json
/src/lib/_fbs
/src/lib/components/ui
