.DS_Store
node_modules
/build
/.svelte-kit
/.vscode
/package
/src/lib/api/internal
/src/lib/components/ui
/static
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
