{
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte" } },
    { "files": "package*.json", "options": { "tabWidth": 2, "useTabs": true } }
  ]
}
