[submodule "schemas"]
	path = schemas
	url = https://github.com/OpenShock/flatbuffers-schemas
	branch = local-comms-revamp
[submodule "frontend/packages/svelte-core"]
	path = frontend/packages/svelte-core
	url = git@github.com:OpenShock/svelte-core.git
[submodule "components/flatbuffers/flatbuffers"]
	path = components/flatbuffers/flatbuffers
	url = https://github.com/google/flatbuffers.git
