name: cpp-linter

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths: ['**.c', '**.h', '**.cpp', '**.hpp', '.clang-format', '.github/workflows/cpp-linter.yml']
  push:
    paths: ['**.c', '**.h', '**.cpp', '**.hpp', '.clang-format', '.github/workflows/cpp-linter.yml']
  workflow_dispatch: # Manually invoked by user.

jobs:
  get-vars:
    uses: ./.github/workflows/get-vars.yml

  cpp-linter:
    name: C/C++ Linter
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: get-vars

    permissions:
      contents: write
      pull-requests: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: ./.github/actions/build-compilationdb
        with:
          version: 0.0.0-test+build # Doesn't matter, just need the compilation database
          skip-checkout: true
      
      - uses: cpp-linter/cpp-linter-action@v2
        id: linter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: file
          version: 21
          ignore: |
            .github
            include/serialization/_fbs
          thread-comments: update
          no-lgtm: false

      - name: Fail fast?!
        if: steps.linter.outputs.checks-failed > 0
        run: |
          echo "Some files failed the linting checks!"
        # for actual deployment
        # run: exit 1
